  <form action="/show_ship" method="POST">   
    Ship Name: 
    <input type="text" name="ship_name">
    Ship Hull Size:
    <input type="text" name="hull_size">
    Ship Drive Tonnage:
    <input type="text" name="drive_size">
    <p>
    Max Passengers:
    <input type="text" name="passengers">
    Number of Active Weapons:
    <input type="text" name="weapons">
    <select name="role">
      <option value="MerchantMarine" selected="selected">Merchant Marine</option>
      <option value="Navy">Navy</option>
      <option value="FreeTrader">Free Trader</option>
    </select>
    <input type="submit" value="Recruit!">
  </form>
