  <form action="/show_ship" method="POST">   
    Ship Name: 
    <input type="text" name="name">
    <p>
    Ship Hull Size:
    <input type="text" name="hull_size">
    <p>
    Ship Drive Tonnage:
    <input type="text" name="drive_size">
    <p>
    Ship Hold Size:
    <input type="text" name="hold_size">
    <p>
    Max Passengers:
    <input type="text" name="passengers">
    <p>
    Number of Active Weapons:
    <input type="text" name="weapons">
    <select name="service">
      <option value="MerchantMarine" selected="selected">Merchant Marine</option>
      <option value="Navy">Navy</option>
      <option value="FreeTrader">Free Trader</option>
    </select>
    <input type="submit" value="Recruit!">
  </form>
