<!DOCTYPE html>

<html>
  <head>
    <meta charset='UTF-8' />
    <title>CrewGen</title>
  <head>

  <body>
    <h1>Crew </h1>
    <ul>
      <li>Pilot: </li>

      <li>Navigator: </li>

    </ul>
  </body>
</html>

