<!DOCTYPE html>

<html>
  <head>
    <meta charset='UTF-8' />
    <title>CrewGen</title>
  <head>

  <body>
    <h1>Crew </h1>
    <ul>
      <li>Pilot: 
        <% @person = @crew['pilot'] %>
        <%= erb :person %>
      </li> 
      <li>Navigator: 
        <% @person = @crew['navigator'] %>
        <%= erb :person %>
      </li> 
      <li>Engineers: 
        <ul>
          <% @crew['engineers'].each do |p| %>
          <% @person = p %>
          <li><%= erb :person %></li>
          <% end %>
        </ul>
      </li> 

    </ul>
  </body>
</html>

